%div.col-md-5.col-md-offset-1
  %img{ src: "/assets/hospital.jpg", class: "img-responsive", alt: "Responsive image"}
%br
%div{class: "text-left"}
  = link_to "Go To Clinics Information", clinics_path
  %br
  = link_to "Go to Medication Information", medications_path
  %br
